<!-- Projects Display Section -->
<div class="teams-page">
  <div class="header">
    <h1>Projects</h1>
    <button class="btn create-btn" (click)="openCreateForm()">+ Create Project</button>
  </div>

  <!-- Project Creation Form -->
  <div *ngIf="showCreateForm" class="form-container">
    <app-create-project
      (projectCreated)="onProjectCreated($event)"
      (cancel)="cancelCreate()"
    ></app-create-project>
  </div>

  <!-- Projects Table -->
  <table class="teams-table">
    <thead>
      <tr>
        <th>Project Name</th>
        <th>Description</th>
        <th>Teams</th>
        <th>Members</th>
        
        <th class="actions-column">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td>{{ project.description }}</td>

        <!-- Teams List -->
        <td>
          <ul *ngIf="project.teams?.length; else noMembers">
            <li *ngFor="let team of project.teams">
              {{ team.teamName }}
            </li>
          </ul>
          <ng-template #noMembers>No Teams</ng-template>
        </td>
        <!-- Members List -->
        <td>
          <ul *ngIf="project.members?.length; else noMembers">
            <li *ngFor="let member of project.members">
              {{ member.name }}
            </li>
          </ul>
          <ng-template #noMembers>No members</ng-template>
        </td>

        <td class="actions">
          <!-- <button class="btn edit-btn" (click)="onEditProject(project.projectId)">Edit</button> -->
          <button class="btn delete-btn" (click)="deleteProject(project.projectId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>