<nav class="navbar">
    <div class="nav-container">
      <!-- Logo -->
      <a routerLink="/" class="logo">
        <mat-icon class="logo-icon">hub</mat-icon>
        <span>CollabSync</span>
      </a>
      <div class="nav-links">
        <a routerLink="/" class="nav-link">Home</a>
        <a routerLink="/aboutUs" class="nav-link">About Us</a>
        <a class="nav-link" (click)="scrollToFooter($event)" href="#footer"aria-label="Scroll to contact information"> Contact Us</a>
      </div>
      <div class="auth-buttons">
        <button mat-stroked-button routerLink="/login" class="login-btn">
          Log In
        </button>
        <button mat-raised-button routerLink="/signup" class="signup-btn">
          Get Started
        </button>
      </div>
    </div>
  </nav>