<div class="approver-home">
  <div class="review-section">
    <h2>Pending Reviews</h2>
    <div class="task-table-container">
      <table class="task-table">
        <thead>
          <tr>
            <th>Project</th>
            <th>Title</th>
            <th>Description</th>
            <th>Submitted by</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (task of reviewTasks(); track task.taskId) {
          <tr>
            <td>{{ task.projectName }}</td>
            <td>{{ task.taskName }}</td>
            <td>{{ task.taskDescription }}</td>
            <td>{{ task.submittedBy?.name }}</td>
            <td>
              @if (DoesNeedAction(task)) {
              <button (click)="acceptTask(task)" class="btn btn-success">
                Approve
              </button>
              <button (click)="rejectTask(task)" class="btn btn-primary">
                Reject
              </button>
              <button class="btn btn-info">Download Submitted Files</button>
              } @else if (isTaskReviewFinished(task)) {
              <button class="btn btn-info">Download Submitted Files</button>
              Task submission is <span style="color: green"> approved </span>
              } @else{
              {{ getTaskInfoMessage(task) }}
              }
            </td>
          </tr>
          } @empty {
          <p class="no-tasks-message">No tasks to Review yet.</p>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
