:host{
    display: block;
    min-height: 100vh;
}
.project-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #FE7F0E;
}

.project-description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #FE7F0E;
}

.project-members-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .project-member-item {
        font-size: 1rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid #ddd;
        color: #FE7F0E;

        &:last-child {
            border-bottom: none;
        }
    }
}
.sidebar {
    width: 96%;
    background-color: #0F121B;
    color: #fff;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);

    .profile-box {
        background-color: #1C1F2A;
        padding: 2%;
        border-radius: 6px;
        box-shadow: 0 0.4em 0.8em rgba(0, 0, 0, 0.1);

        h3 {
            font-size: 1.5em;
            margin-bottom: 1em;
            color: #FE7F0E;
        }

        p {
            font-size: 1em;
            margin-bottom: 0.5em;

            strong {
                color: #FE7F0E;
            }
        }
    }
}

.nav-link{
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    padding: 1em;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: #FE7F0E;
        transform: scale(1.05);
    }
}