<div class="sidebar">
    <div class="profile-box">
        <h1 class="project-title">
            {{ project()?.projectName }}
        </h1>
        <p class="project-description">
           Created By: {{ project()?.createdBy?.name }}
        </p>
        <p class="project-description">
            {{ project()?.projectDescription }}
        </p>
        <ul class="project-members-list">
            @for (member of project()?.members; track member.userID) {
            <li class="project-member-item"> {{ member.name || 'Unknown Member' }} </li>
            }
        </ul>
    </div>
</div>

@if (hasSubmissionAuthority())  {
    <app-members-submission-table  [filterProjectName]="project()?.projectName || ''" />
}

@if (hasApprovalAuthority()) {
    <app-members-approval-table  [filterProjectName]="project()?.projectName || ''" />
}