<mat-drawer-container hasBackdrop="false">
  <mat-drawer class="drawer" mode="side" position="start" [opened]="isOpened">
    <h3>
        Tabs
    </h3>
    <a routerLink="/teamMember/homepage" routerLinkActive="active" mat-button>
      <span class="material-icons"> home </span>
      <label>
        Homepage
      </label>
    </a>
    <a routerLink="/teamMember/projects" routerLinkActive="active" mat-button>
        <span class="material-icons">
            workspaces
        </span>
        <label>
            Projects
        </label>
    </a>
    <hr>
    <h3>
        Your projects
    </h3>
    @for(project of projects; track project.projectID){
      <a [routerLink]='"/teamMember/projects/"+project.projectID' routerLinkActive="active" mat-button>
        <label>
          {{project.projectName}}
        </label>
    </a>
    }
    @empty{
      <p>You didn't join any project yet</p>
    }
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button (click)="toggleDrawer()" [class]="{'isOpened': isOpened,'isClosed': !isOpened}">
        <span class="material-icons">
            double_arrow
        </span>    
    </button>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
