<mat-drawer-container  hasBackdrop="false">
  <mat-drawer style="width: 22%;" class="drawer" mode="side" position="start" [opened]="isOpened">
    <a routerLink="/teamMember/homepage" routerLinkActive="active" mat-button class="horizontal-link">
      <span class="material-icons icon">home</span>
      <label>Homepage</label>
    </a>
    <a routerLink="/teamMember/projects" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" mat-button class="horizontal-link">
      <span class="material-icons icon">workspaces</span>
      <label>Projects</label>
    </a>
    <a routerLink="/teamMember/invitations" routerLinkActive="active" mat-button class="horizontal-link">
      <span class="material-icons icon">mail_outline</span>
      <label>Project Invitations</label>
    </a>
    <hr>
    <h2>
        Your projects
    </h2>
    @for (project of userProjects; track project.projectID) {
      <a [routerLink]='"/teamMember/projects/"+project.projectID' routerLinkActive="active" class="horizontal-link" mat-button>
        <label>
          {{project.projectName}}
        </label>
    </a>
    }
    @empty{
      <p>You didn't join any project yet</p>
    }
    <div class="logout-section">
      <button mat-button class="horizontal-link logout-btn" (click)="logout()">
        <span class="material-icons icon">logout</span>
        <label>Logout</label>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content style="overflow-y: hidden;">
    <button mat-icon-button (click)="toggleDrawer()" [class]="{'isOpened': isOpened,'isClosed': !isOpened}">
        <span class="material-icons">
            double_arrow
        </span>    
    </button>
    <router-outlet />
  </mat-drawer-content>
</mat-drawer-container>
